---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import PowerRankingTable from "../components/PowerRankingTable";
import Section from "../components/Section.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from 'astro:assets';
import headshotImg from "../headshot.jpeg";

const fantasyPost = (await getCollection("fantasy")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];

const projectPost = (await getCollection("project")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];

const { Content } = await projectPost.render();
---

<BaseLayout title="ishgup" description="Homepage" activePath="home">

    <div class="flex flex-col justify-center items-center pt-10">
        <div class="text-center">
            <div
                class="my-name font-sans font-bold text-transparent bg-clip-text bg-gradient-to-r from-teal-300 to-teal-500 text-4xl sm:text-5xl md:text-6xl lg:text-7xl"
            >
                {'Ishan Gupta'}
            </div>
            <div class="text-xl sm:text-4xl">Data Science & Sports</div>
        </div>
    
        <div class="flex flex-col md:flex-row items-center md:items-start p-4">
            <!-- Headshot -->
            <div class="md:mr-3">
                <Image src={headshotImg} alt="headshot of ishgup" class="rounded-xl max-w-[300px] md:max-w-[436px]" style="margin-bottom: 2rem;" />
            </div>
            
            <!-- Text Section -->
            <div class="max-w-lg text-left">
                <div class="mx-auto bg-slate-800 rounded-lg p-2 mb-2">
                    <div class="mx-1 text-xl">
                        FAR Analyst @ <span class="font-bold text-teal-400">LPL Financial</span>
                    </div>
                    <div class="mx-1 text-slate-500">
                        June 2024 - Present
                    </div>
                    <div class="mx-1">
                        • Data Analytics for First Line Risk Management
                    </div>
                    <div class="flex flex-wrap items-center text-center gap-2 mx-1 mt-2">
                        <div class="bg-slate-700 rounded-lg p-2">Tableau</div>
                        <div class="bg-slate-700 rounded-lg p-2">Power BI</div>
                        <div class="bg-slate-700 rounded-lg p-2">Microsoft Excel</div>
                        <div class="bg-slate-700 rounded-lg p-2">Snowflake</div>
                        <div class="bg-slate-700 rounded-lg p-2">Alteryx</div>
                        <div class="bg-slate-700 rounded-lg p-2">SQL</div>
                        <div class="bg-slate-700 rounded-lg p-2">Python</div>
                    </div>
                </div>
                <div class="mx-auto bg-slate-800 rounded-lg p-2 mb-2">
                    <div class="mx-1 text-xl">
                        Former Student @ <span class="font-bold text-teal-400">University of Pittsburgh</span>
                    </div>
                    <div class="mx-1 text-slate-500">
                        August 2020 - May 2024
                    </div>
                    <div class="flex flex-wrap gap-2 items-center text-center mx-1 mt-2">
                        <div class="bg-slate-700 rounded-lg p-2">Finance</div>
                        <div class="bg-slate-700 rounded-lg p-2">Computer Science</div>
                        <div class="bg-slate-700 rounded-lg p-2">Business Analytics</div>
                    </div>
                </div>
                <div class="mx-auto bg-slate-800 rounded-lg p-2 mb-2">
                    <div class="mx-1 text-xl">
                        My <span class="font-bold text-teal-400">Interests</span>
                    </div>
                    <div class="mx-1">
                        Stats and AI uncover insights beyond human bias, transforming industries. I apply this to sports, creating models that align with my goals, and aim to bring similar impact to business optimization.    
                    </div>
                </div>
            </div>
        </div>
    </div>        


    <div class="grid grid-cols-1 xl:grid-cols-2">
        <Section heading="Current Power Rankings">
            <PowerRankingTable client:load data={fantasyPost.data.prData}/>
        </Section>
        
        <Section heading="Latest Project">
            <div class="mb-3">
                {
                    <img
                        width={720}
                        height={360}
                        src={projectPost.data.cover.src}
                        alt=""
                    />
                }
                <h1 class="my-4 font-sans font-bold text-4xl">{projectPost.data.title}</h1>
                <FormattedDate date={projectPost.data.pubDate} />
                {
                    projectPost.data.updatedDate && (
                        <div class="last-updated-on">
                            Last updated on <FormattedDate date={projectPost.data.updatedDate} />
                        </div>
                    )
                }
                <hr class="h-px my-4 bg-gray-300 border-0" />
            </div>
            <article class="prose prose-invert prose-md overflow-hidden">
                <Content/>
            </article>
        </Section>
    </div>
    
    
</BaseLayout>
