---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import PostCard from "../../components/PostCard.astro";
import Card from "../../components/Card.astro";
import Section from "../../components/Section.astro";

const posts = (await getCollection("project")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BaseLayout title="Projects - ishgup" description="Projects"  activePath="projects">
    <Section>
        {
            posts.map((post) => (
                <>
                <PostCard href={`/projects/${post.slug}/`} title={post.data.title} description={post.data.description} date={post.data.pubDate} image={post.data.cover.src}>
                </>
            ))
        }
    </Section>
</BaseLayout>