---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import PostCard from "../../components/PostCard.astro";
import Card from "../../components/Card.astro";
import Section from "../../components/Section.astro";
import SeasonHeader from "../../components/SeasonHeader.astro";
import AccoladesDropdown from "../../components/AccoladesDropdown";

const posts = (await getCollection("fantasy")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BaseLayout title="Stonks Fantasy - ishgup" description="Stonks Fantasy Blog Posts"  activePath="fantasy">
    <Section>
        <div class="max-w-lg mx-auto">
                <Card title="Draft Tool" href="/draft"></Card>
        </div>
    </Section>
    <Section>
        <AccoladesDropdown client:load></AccoladesDropdown>
    </Section>
    
    <Section>
        <!-- uncomment below when 2024 posts are created -->
        <!-- <SeasonHeader season="2024"></SeasonHeader>
        {
            posts.filter(p => p.data.season == "2024").map((post) => (
                <>
                <PostCard href={`/fantasy/${post.slug}/`} title={post.data.title} description={post.data.description} date={post.data.pubDate} image={new URL(Astro.url.pathname + "/" + post.slug + "/og-image.png", Astro.url).toString()}>
                </>
            ))
        } -->
        <SeasonHeader season="2024"></SeasonHeader>
        {
            posts.filter(p => p.data.season == "2024").map((post) => (
                <>
                <PostCard href={`/fantasy/${post.slug}/`} title={post.data.title} description={post.data.description} date={post.data.pubDate} image={new URL(Astro.url.pathname + "/" + post.slug + "/og-image.png", Astro.url).toString()}>
                </>
            ))
        }


        <SeasonHeader season="2023"></SeasonHeader>
        {
            posts.filter(p => p.data.season == "2023").map((post) => (
                <>
                <PostCard href={`/fantasy/${post.slug}/`} title={post.data.title} description={post.data.description} date={post.data.pubDate} image={new URL(Astro.url.pathname + "/" + post.slug + "/og-image.png", Astro.url).toString()}>
                </>
            ))
        }

        <SeasonHeader season="2022"></SeasonHeader>
        {
            posts.filter(p => p.data.season == "2022").map((post) => (
                <>
                <PostCard href={`/fantasy/${post.slug}/`} title={post.data.title} description={post.data.description} date={post.data.pubDate} image={new URL(Astro.url.pathname + "/" + post.slug + "/og-image.png", Astro.url).toString()}>
                </>
            ))
        }
    </Section>
</BaseLayout>